.wrapper{
     inline-size: clamp(24rem, 100%, 80.5rem); 
     margin: 0 auto;
     padding: .5rem;
     box-sizing: border-box;
     overflow: hidden;
}

main{
     background: linear-gradient(125.89deg, #edfcfc, 8.74%, rgba(241, 255, 255, 0) 70.99%);
}